<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="container-toolbard">
          <span class="span-title">MIS PRODUCTOS</span>
        </div>
        <hr>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <app-product-image ></app-product-image>
              </div>
              <div class="col-md-8">
                <app-product-form></app-product-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>